@import "fonts";

/* === variables === */
$primaryColor: #fdc435;
$secondaryColor: #25282b;
$bgGrayColor: #f9faff;
$bgWhiteColor: #ffffff;
$bglineColor: #25282b;
$textHighEmphasis: #25282b;
$textMediumEmphasis: #828282;
$textLowEmphasis: #9a9fa8;
$HeadingFont: "Playfair Display", serif;
$navLinkFont: "Raleway", sans-serif;
$textFont: "Nunito", sans-serif;
$btnFont: "Roboto", sans-serif;

/* === base styles === */
h1,
h2,
h3,
hr,
p {
  margin: 0;
}
h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  vertical-align: middle;
}
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* === Global styles === */
body {
  background-color: $bgGrayColor;
  overflow-x: hidden;
}

/* === header === */
header {
  min-height: 100vh;
  position: relative;
  background-image: url("../images/yellow-bg.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.nav {
  color: $textHighEmphasis;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 120px;

  &__logo {
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }

  a {
    font-family: $navLinkFont;
    font-weight: 500;
    font-size: 18px;
    color: $textHighEmphasis;
    text-decoration: none;
    margin-left: 48px;
    transition: color 0.3s ease;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:hover {
      color: #ffffff;
    }
  }
}
.home {
  margin-top: 54px;
  padding: 0 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__text {
    padding-right: 114px;
  }
  &__title {
    font-family: $textFont;
    color: $primaryColor;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 12px;
  }
  &__name {
    font-family: $HeadingFont;
    font-weight: 700;
    font-size: 64px;
    color: $textHighEmphasis;
    line-height: 76px;
  }
  &__description {
    font-family: $textFont;
    color: $textMediumEmphasis;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: 32px auto;
  }
  &__btn {
    text-decoration: none;
    padding: 8px 24px;
    font-family: $btnFont;
    font-weight: 500;
    font-size: 18px;
    color: $textHighEmphasis;
    border-radius: 8px;
    border-color: $bglineColor;
    border-width: 2px;
    transition: background-color 0.3s ease;
    &:nth-child(1) {
      margin-right: 12px;
    }
    &:hover {
      background-color: $primaryColor;
      border-color: $primaryColor;
    }
    &--primary {
      background-color: $primaryColor;
      border-color: $primaryColor;
    }
  }
  &__img-box {
    position: relative;

    img {
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
}

/* === main === */

.section {
  padding: 0 226px;
  margin-bottom: 144px;
  &__heading {
    font-family: $HeadingFont;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: $textHighEmphasis;
    margin: 0 auto;
    &::after {
      content: "";
      border-bottom: 4px solid $primaryColor;
      width: 100px;
      display: block;
      margin-top: 8px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.project {
  margin: 80px auto;
  background-color: #ffffff;
  border-radius: 24px;
  overflow-x: hidden;
  display: flex;
  filter: drop-shadow(0px 6px 64px rgba(112, 114, 176, 0.1));
  &:nth-child(2) {
    flex-direction: row-reverse;
  }
  &__info {
    padding: 62px 168px;
  }
  &__heading {
    font-family: $HeadingFont;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $textHighEmphasis;
  }
  &__description {
    font-family: $textFont;
    font-size: 18px;
    font-weight: 400;
    color: $textMediumEmphasis;
    line-height: 27px;
    margin: 24px auto;
  }
  &__btn {
    font-family: $btnFont;
    padding: 8px 24px;
    border: 1px solid $bglineColor;
    border-radius: 24px;
    color: $textHighEmphasis;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $primaryColor;
    }
  }
}
.footer {
  margin-bottom: 80px;
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;

    li {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      &:hover img {
        opacity: 0.3;
      }
      img {
        transition: 0.5s ease;
        backface-visibility: hidden;
      }
    }
  }
  &__text {
    text-align: center;
    font-family: $textFont;
    font-size: 16px;
    font-weight: 400;
    color: $textMediumEmphasis;
  }
}
