/* comfortaa-regular - latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin/comfortaa-v30-latin/comfortaa-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-regular.woff2") format("woff2"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-regular.woff") format("woff"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-regular.ttf") format("truetype"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-regular.svg#Comfortaa") format("svg");
  /* Legacy iOS */
}

/* comfortaa-700 - latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-700.woff2") format("woff2"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-700.woff") format("woff"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-700.ttf") format("truetype"), url("../fonts/comfortaa-v30-latin/comfortaa-v30-latin-700.svg#Comfortaa") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v22-latin/raleway-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-latin/raleway-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-latin/raleway-v22-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin/raleway-v22-latin-regular.woff") format("woff"), url("../fonts/raleway-v22-latin/raleway-v22-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v22-latin/raleway-v22-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v22-latin/raleway-v22-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-latin/raleway-v22-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-latin/raleway-v22-latin-500.woff2") format("woff2"), url("../fonts/raleway-v22-latin/raleway-v22-latin-500.woff") format("woff"), url("../fonts/raleway-v22-latin/raleway-v22-latin-500.ttf") format("truetype"), url("../fonts/raleway-v22-latin/raleway-v22-latin-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v16-latin/nunito-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin/nunito-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin/nunito-v16-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v16-latin/nunito-v16-latin-regular.woff") format("woff"), url("../fonts/nunito-v16-latin/nunito-v16-latin-regular.ttf") format("truetype"), url("../fonts/nunito-v16-latin/nunito-v16-latin-regular.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v16-latin/nunito-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin/nunito-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin/nunito-v16-latin-700.woff2") format("woff2"), url("../fonts/nunito-v16-latin/nunito-v16-latin-700.woff") format("woff"), url("../fonts/nunito-v16-latin/nunito-v16-latin-700.ttf") format("truetype"), url("../fonts/nunito-v16-latin/nunito-v16-latin-700.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-regular.woff2") format("woff2"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-regular.woff") format("woff"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-regular.ttf") format("truetype"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-regular.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}

/* playfair-display-700 - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-700.woff2") format("woff2"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-700.woff") format("woff"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-700.ttf") format("truetype"), url("../fonts/playfair-display-v22-latin/playfair-display-v22-latin-700.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* === variables === */
/* === base styles === */
html.sr {
  scroll-behavior: smooth;
  visibility: hidden;
}

h1,
h2,
h3,
hr,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  vertical-align: middle;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* === Global styles === */
body {
  background-color: #f9faff;
  overflow-x: hidden;
}

/* === header === */
header {
  min-height: 100vh;
  position: relative;
  background-image: url("../images/yellow-bg.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.nav {
  color: #25282b;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 120px;
}

.nav__logo {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.nav a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #25282b;
  text-decoration: none;
  margin-left: 48px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav a:nth-child(1) {
  margin-left: 0;
}

.nav a:hover {
  color: #ffffff;
}

.home {
  margin-top: 54px;
  padding: 0 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.home__text {
  padding-right: 114px;
}

.home__title {
  font-family: "Nunito", sans-serif;
  color: #fdc435;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27px;
  margin-bottom: 12px;
}

.home__name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  color: #25282b;
  line-height: 76px;
}

.home__description {
  font-family: "Nunito", sans-serif;
  color: #828282;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 32px auto;
}

.home__btn {
  text-decoration: none;
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #25282b;
  border-radius: 8px;
  border-color: #25282b;
  border-width: 2px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.home__btn:nth-child(1) {
  margin-right: 12px;
}

.home__btn:hover {
  background-color: rgba(253, 196, 53, 0.3);
  border-color: #fdc435;
}

.home__btn--primary {
  background-color: #fdc435;
  border-color: #fdc435;
}

.home__img-box {
  position: relative;
}

.home__img-box img {
  width: 100%;
  position: absolute;
  top: -20%;
  right: -15%;
}

/* === main === */
.section {
  padding: 0 226px;
  margin-bottom: 144px;
}

.section__heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #25282b;
  margin: 0 auto;
}

.section__heading::after {
  content: "";
  border-bottom: 4px solid #fdc435;
  width: 100px;
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.project {
  margin: 80px auto;
  background-color: #ffffff;
  border-radius: 24px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0px 6px 64px rgba(112, 114, 176, 0.1));
          filter: drop-shadow(0px 6px 64px rgba(112, 114, 176, 0.1));
}

.project:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project__info {
  padding: 62px 168px;
}

.project__heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #25282b;
}

.project__description {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #828282;
  line-height: 27px;
  margin: 24px auto;
}

.project__btn {
  font-family: "Roboto", sans-serif;
  padding: 8px 24px;
  border: 1px solid #25282b;
  border-radius: 24px;
  color: #25282b;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.project__btn:hover {
  background-color: #fdc435;
}

.footer {
  margin-bottom: 80px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 54px;
}

.footer__socials li {
  margin-right: 24px;
}

.footer__socials li:last-child {
  margin-right: 0;
}

.footer__socials li:hover img {
  opacity: 0.3;
}

.footer__socials li img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.footer__text {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}
/*# sourceMappingURL=style.css.map */